.divComment {
    background: beige;
    display: block;
    width: 647px;
    height: auto;
    padding: 36px;
}

.divNameComment{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.nameProfile{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.comment{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;
    font-size: 20px;
}
.imgComment{
    height: 33px;
    width: 33px;
    border-radius: 50%;
    padding-right: 16px;
}

.moreComment{
    height: 55px;
    width: 647px;
    padding-left: 36px;
    padding-right: 36px;
    background: beige;
    border-radius: 0px 0px 30px 30px;
}